<launch>
    <arg name="aruco_detect" default="true"/>
    <arg name="aruco_map" default="false"/>
    <arg name="aruco_vpe" default="false"/>

    <!-- detect aruco markers, estimate poses -->
    <node pkg="nodelet" if="$(arg aruco_detect)" clear_params="true" type="nodelet" name="aruco_detect" args="load aruco_pose/aruco_detect nodelet_manager" output="screen">
        <remap from="image_raw" to="main_camera/image_raw"/>
        <remap from="camera_info" to="main_camera/camera_info"/>

        <param name="length" value="0.32"/>
        <param name="snap_orientation" value="local_origin"/>
        <param name="estimate_poses" value="true"/>
    </node>

    <!-- estimate aruco map pose -->
    <node pkg="nodelet" clear_params="true" type="nodelet" name="aruco_map" if="$(arg aruco_map)" args="load aruco_pose/aruco_map nodelet_manager" output="screen">
        <remap from="markers" to="aruco_detect/markers"/>
        <remap from="camera_info" to="main_camera/camera_info"/>
        <param name="type" value="map"/>
        <param name="map" value="$(find aruco_pose)/map/map.txt"/>
        <param name="snap_orientation" value="local_origin"/>
    </node>

    <!-- vpe publisher from aruco markers -->
    <node name="vpe_publisher" pkg="clever" type="vpe_publisher" output="screen" if="$(arg aruco_vpe)">
        <!-- <remap from="~markers" to="aruco_detect/markers"/> -->
        <!-- <remap from="~pose_pub" to="mavros/mocap/pose"/> --> <!-- publish MOCAP -->
        <remap from="~pose_cov" to="aruco_map/pose"/>
        <remap from="~pose_pub" to="mavros/vision_pose/pose"/> <!-- publish VPE -->
        <param name="frame_id" value="aruco_map"/>
        <param name="child_frame_id" value="fcu"/>
        <param name="publish_zero" value="true"/>
    </node>
</launch>
