<launch>
    <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager" output="screen"/>

    <!-- the bottom facing camera -->

    <!--<node pkg="tf2_ros" type="static_transform_publisher" name="bottom_camera_frame" args="0 0 0 -1.5707963 0 3.1415926 fcu bottom_camera"/>-->
    <node pkg="tf2_ros" type="static_transform_publisher" name="bottom_camera_frame" args="0 0 0 1.5707963 0 3.1415926 fcu bottom_camera_optical"/>

    <node pkg="nodelet" type="nodelet" name="bottom_camera" args="load cv_camera/CvCameraNodelet nodelet_manager">
        <param name="frame_id" value="bottom_camera_optical"/>
        <param name="camera_info_url" value="file://$(find clever)/camera_info/fisheye_cam_320.yaml"/>
        <param name="rate" value="30"/>

        <!-- for bigger FPS use: -->
        <!--<param name="rate" value="60"/>-->
        <!--<param name="cv_cap_prop_fps" value="60"/>-->

        <param name="image_width" value="320"/>
        <param name="image_height" value="240"/>
    </node>
</launch>
