<launch>
    <remap to="mavros/local_position/pose" from="local_position"/>
    <remap to="mavros/setpoint_position/local" from="local_setpoint"/>

    <node name="copter_visualization" pkg="mavros_extras" type="copter_visualization"/>

    <param name="copter_visualization/fixed_frame_id" value="local_origin"/>
    <param name="copter_visualization/child_frame_id" value="fcu"/>
    <param name="copter_visualization/marker_scale" value="1"/>
    <param name="copter_visualization/max_track_size" value="500"/>
    <param name="copter_visualization/num_rotors" value="4"/>
</launch>
