<launch>
    <!-- Clever configuration for testing in sitl -->
    <arg name="ip" default="127.0.0.1"/>
    <arg name="rosbridge" default="false"/>

    <include file="$(find clever)/launch/clever.launch">
        <arg name="fcu_conn" value="udp"/>
        <arg name="fcu_ip" value="$(arg ip)"/>
        <arg name="gcs_bridge" value="false"/>
        <arg name="optical_flow" value="false"/>
        <arg name="web_server" default="false"/>
        <arg name="web_video_server" default="false"/>
        <arg name="main_camera" default="false"/>
        <arg name="rosbridge" value="$(arg rosbridge)"/>
        <arg name="aruco" default="false"/>
        <arg name="vl53l1x" default="false"/>
        <arg name="rc" default="false"/>
    </include>
</launch>
