[Unit]
Description=Butterfly Terminal Server

[Service]
ExecStart=/bin/bash -c ". /root/butterfly_env/bin/activate; butterfly.server.py --host="0.0.0.0" --unsecure"
User=pi
