[Unit]
Description=Clever ROS package
Requires=roscore.service
After=roscore.service

[Service]
User=pi
EnvironmentFile=/lib/systemd/system/roscore.env
ExecStart=/opt/ros/kinetic/bin/roslaunch clever clever.launch --wait --screen
Restart=on-abort

[Install]
WantedBy=multi-user.target
