[Unit]
Description=Clever ROS package
Requires=roscore.service
After=network.target

[Service]
User=pi
ExecStart=/bin/bash -c ". /home/pi/catkin_ws/devel/setup.sh; \
                      ROS_HOSTNAME=`hostname`.local exec stdbuf -o L roslaunch clever clever.launch --wait --screen --skip-log-check \
                      2> >(tee /tmp/clever.err)"

[Install]
WantedBy=multi-user.target
