[Unit]
Description=Launcher for the ROS master, parameter server and rosout logging node
After=network.target

[Service]
EnvironmentFile=/lib/systemd/system/roscore.env
ExecStart=/opt/ros/kinetic/bin/roscore
Restart=on-abort

[Install]
WantedBy=multi-user.target
