<?xml version="1.0"?>
<model>
    <name>Loop Line</name>
    <version>1.0</version>
    <sdf version="1.5">loop_line.sdf</sdf>
    <author>
        <name>Oleg Kalachev</name>
        <email>okalachev@gmail.com</email>
    </author>
    <description>
        Black loop line on the floor for recognizing by a drone
    </description>
</model>
