<?xml version="1.0"?>
<model>
    <name>Loop</name>
    <version>1.0</version>
    <sdf version="1.5">loop.sdf</sdf>
    <author>
        <name>Oleg Kalachev</name>
        <email>okalachev@gmail.com</email>
    </author>
    <description>
        Black loop on the floor for drone recognizing
    </description>
</model>
