root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[*.{py,swift,launch}]
indent_style = space
indent_size = 4

[*.{cpp,h,js,html,txt}]
indent_style = tab

[*.txt]
tab_width = 8

[CMakeLists.txt]
indent_style = space
indent_size = 2
