<?xml version="1.0"?>
<model>
    <name>Red Circle</name>
    <version>1.0</version>
    <sdf version="1.5">red_circle.sdf</sdf>
    <author>
        <name>Oleg Kalachev</name>
        <email>okalachev@gmail.com</email>
    </author>
    <description>
        Red circle of size 40 cm on the floor for recognizing by a drone
    </description>
</model>
