.big-clover {
	max-width: 80% !important;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* change image for dark theme */
html .big-clover.dark { display: none; }
html.dark .big-clover { display: none; }
html.dark .big-clover.dark { display: block; }

img.logo {
	transform: scale(2.5) translateX(-5%);
}

/* Centered images */
img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Images with border */
img.border {
	border: 1px #e9e9e9 solid;
	border-radius: 5px;
}

html.dark img.border {
	border: none;
	background: #fffffa;
}

table.versions td {
	text-align: center;
	background: white;
}
table.versions .subversion {
	font-size: 80%;
}

.circle {
	width: 0.8em;
	height: 0.8em;
	border-radius: 50%;
	display: inline-block;
	margin-right: 0.5em;
}
