
<?xml version="1.0"?>
<model>
    <name>ArUco field from cmit.txt (dictionary 2)</name>
    <version>1.0</version>
    <sdf version="1.6">aruco_model.sdf</sdf>
    <author>
        <name>Marker Generator script</name>
        <email>marker@generator.sh</email>
    </author>
    <description>
        ArUco field from cmit.txt (dictionary 2)
    </description>
</model>
