<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- Toggleable model parameters -->
    <!-- Main camera -->
    <arg name="main_camera" default="true"/>
    <!-- Slow simulation down to maintain camera rate -->
    <arg name="maintain_camera_rate" default="false"/>
    <arg name="rangefinder" default="true"/>
    <arg name="led" default="true"/>
    <arg name="gps" default="true"/>
    <!-- Use physics parameters from CAD programs -->
    <arg name="use_clover_physics" default="false"/>

    <arg name="cmd" default="$(find xacro)/xacro $(find clover_description)/urdf/clover/clover4.xacro main_camera:=$(arg main_camera) rangefinder:=$(arg rangefinder) led:=$(arg led) gps:=$(arg gps) maintain_camera_rate:=$(arg maintain_camera_rate) use_clover_physics:=$(arg use_clover_physics)"/>
    <param command="$(arg cmd)" name="drone_description"/>
    <!-- Note: -package_to_model replaces all mentions of "package://" with "model://" in urdf URIs -->
    <node name="$(anon spawn)" output="screen" pkg="gazebo_ros" type="spawn_model" args="-urdf -param drone_description -model clover -z 0.3"/> 
</launch>
