<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="cmd" default="$(find xacro)/xacro $(find clover_description)/urdf/clover/clover4_base.xacro"/>
    <param command="$(arg cmd)" name="drone_description"/>
    <!-- Note: -package_to_model replaces all mentions of "package://" with "model://" in urdf URIs -->
    <node name="$(anon spawn)" output="screen" pkg="gazebo_ros" type="spawn_model" args="-urdf -param drone_description -model clover"/> 
</launch>
