<?xml version="1.0"?>
<robot name="clover_camera" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:arg name="main_camera" default="true"/>
  <xacro:arg name="rangefinder" default="true"/>
  <xacro:arg name="gps" default="true"/>

  <xacro:include filename="$(find clover_description)/urdf/clover/clover4_base.xacro" />
  <xacro:include filename="$(find clover_description)/urdf/sensors/rpi_cam.urdf.xacro"/>
  <xacro:include filename="$(find clover_description)/urdf/sensors/distance_sensor.urdf.xacro"/>

  <!-- Create camera plugin -->
  <xacro:if value="$(arg main_camera)">
    <xacro:rpi_cam name="main_camera" parent="base_link" x="0.055" y="0.0" z="-0.03" roll="0" pitch="${M_PI / 2}" yaw="0" width="320" height="240" rate="40"/>
  </xacro:if>

  <!-- Create rangefinder plugin -->
  <xacro:if value="$(arg rangefinder)">
    <xacro:distance_sensor parent="base_link" x="0.0" y="0.0" z="-0.04" roll="0" pitch="${M_PI / 2}" yaw="0"/>
  </xacro:if>

  <xacro:if value="$(arg gps)">
    <!-- Instantiate gps plugin. -->
    <xacro:gps_plugin_macro
      namespace="${namespace}"
      gps_noise="true"
      >
    </xacro:gps_plugin_macro>
  </xacro:if>

</robot>
