name: Build

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ master ]

jobs:
  # melodic:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v2
  #     - name: Native Melodic build
  #       run: |
  #         docker run --rm -v $(pwd):/root/catkin_ws/src/clover ros:melodic-ros-base /root/catkin_ws/src/clover/builder/standalone-install.sh
  noetic:
    runs-on: ubuntu-latest
    container: ros:noetic-ros-base
    defaults:
      run:
        working-directory: catkin_ws
        shell: bash
    steps:
    - uses: actions/checkout@v2
      with:
        path: catkin_ws/src/clover
    - name: Install pip
      run: apt-get update && apt-get -y install python3-pip
    - name: Install dependencies
      run: rosdep update && rosdep install --from-paths src --ignore-src -y
    - name: Install GeographicLib datasets
      run: wget -qO- https://raw.githubusercontent.com/mavlink/mavros/master/mavros/scripts/install_geographiclib_datasets.sh | bash
    - name: catkin_make
      run: source /opt/ros/$ROS_DISTRO/setup.bash && catkin_make
    - name: Run tests
      run: source devel/setup.bash && catkin_make run_tests && catkin_test_results
    - name: Install Bloom
      run: apt-get -y install python3-bloom debhelper dpkg-dev
    - name: bloom-generate
      run: source devel/setup.bash && cd src/clover/clover && bloom-generate rosdebian --os-name debian --os-version $(lsb_release -cs) --ros-distro $ROS_DISTRO
    - name: Build package
      run: source devel/setup.bash && fakeroot debian/rules binary
